build
build/*
*.egg-info
*.egg-info/*
meari/*.so
meari/__pycache__
meari/__pycache__/*
meari/*/*.c
meari/*/*.cpp
meari/*/*.so
meari/*/__pycache__
meari/*/__pycache__/*
meari/extern/*.c
meari/extern/*.cpp
meari/extern/*.so
meari/extern/fft.pyx
meari/extern/lia.pyx
meari/extern/rng.pyx

meari/*/*.html
meari/*/build
meari/*/build/*
meari/*/cython_debug
meari/*/cython_debug/*


cython_debug
cython_debug/*
profile.svg
vgcore.*

.vscode/settings.json
